.menu
  display flex
  align-items center
  &__items
    display flex
    align-items center
    justify-content space-between
    margin-right 48px
  &__item
    margin-right 32px
    font-style normal
    font-weight 500
    font-size 12px
    line-height 20px
    text-transform uppercase
    &:last-child
      margin-right 0
  &__socials
    &._short
      display none

@media screen and (max-width: $desktop2)
  .menu
    &__items
      display none
    &__socials
      display none
      &._short
        display block
        margin-right 16px
