include ../header/header.pug
include ../welcome/welcome.pug
include ../basics/basics.pug
include ../roadmap/roadmap.pug

mixin content(data)
    .content
        +header()
        +welcome()
        +basics()
        +roadmap()