.roadmap
  width calc(100% - 70px)
  padding-left 70px
  margin-bottom 140px
  &__title
    text-align center
    margin 160px 0
    font-weight bold
    font-size 56px
    line-height 62px
    letter-spacing 1px
  &__content
    display flex
    justify-content space-between
  &__year
    font-weight 500
    font-size 16px
    line-height 19px
    margin-bottom 8px
  &__quartal
    font-weight 500
    font-size 24px
    line-height 28px
    color #3BC199
    margin-bottom 16px
  &__item
    display flex
    height: 100px
    margin-bottom 40px
    max-width 345px
    &:last-child
      margin-bottom 0
    &-icon
      margin-right 16px
      height 32px
    &-text
      font-weight 500
      font-size 16px
      line-height 24px
      &._unchecked
        color #818EA7
