.roadmap
  width calc(100% - 140px)
  padding 0 70px
  margin-bottom 140px
  &__title
    text-align center
    margin 160px 0
    font-weight bold
    font-size 56px
    line-height 62px
    letter-spacing 1px
  &__content
    position relative
    &-inner
      display grid
      grid-template-columns repeat(4, 1fr)
  &__year
    font-weight 500
    font-size 16px
    line-height 19px
    margin-bottom 8px
  &__quartal
    font-weight 500
    font-size 24px
    line-height 28px
    color #3BC199
    margin-bottom 16px
  &__items
    position relative
  &__item
    display flex
    height: 100px
    margin-bottom 40px
    max-width 345px
    &:last-child
      margin-bottom 0
    &-icon
      margin-right 16px
      height 32px
      z-index 1
    &-text
      font-weight 500
      font-size 16px
      line-height 24px
      &._unchecked
        color #818EA7
  &__empty
    margin-bottom 40px
    margin-left: -4px
  &__horizontal-line
    height: 2px
    width: calc(100% + 70px)
    background-color #3BC199
    position absolute
    top 90px
    &._second-row
      display: none
  &__vertical-line
    width: 2px
    left 15px
    top: 90px
    background-color #3BC199
    position absolute

@media screen and (max-width: $desktop1)
  .roadmap
    margin-bottom 100px
    &__title
      font-size 40px
      line-height 62px
      margin-bottom 64px
    &__content
      &-inner
        grid-template-columns: repeat(2, 1fr)
        row-gap: 48px
    &__horizontal-line
      &._second-row
        display block
        width calc(100% + 140px)
        left -70px
        top 814px
